body {
  background-color: #f8f9fb;
  color: var(--color-blackish);
  letter-spacing: 0.01em;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  max-width: 1000px;

  margin: auto;

  h1 {
    font-weight: var(--font-weight-700);
    font-size: calc(10px + 2vmin);
    line-height: 28px;
    letter-spacing: -0.02em;
  }

}

.content {
  margin-inline: auto;
  margin-top: 30px;
}


.mainContent {
  max-width: 1000px;
}

.tokensContent {
  max-width: 400px;
}

.chartContent {
  max-width: 600px;
}

.section {
  margin-top: 10px;
  padding-inline: 10px;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sectionHeader {
  display: flex;
  align-items: baseline;
  gap: 16px;

  h2 {
    margin: unset;
    margin-right: 20px;
  }

  button {
    align-self: flex-end;
  }

  .headerInfo {
    display: flex;
    gap: 3px;


    .headerLabel {
      color: var(--color-grayish-dark);
      font-size: var(--font-size-normal);
      font-weight: 500;
    }

    .headerValue {
      font-weight: 600;
    }

  }


}


.poolList {
  margin-top: 16px;
  border-radius: 4px;
}

.poolContent {
  width: 75%;
  margin-left: 20px;

  .poolName {
    display: flex;
    gap: 10px;
    align-items: center;

    h2 {
      font-weight: var(--font-weight-800);
      font-size: var(--font-size-7xl);
    }

    .tokenIcon {
      height: 28px;
    }

    .tokenIconB {
      margin-left: -10px;
    }
  }



  .poolDescription {
    display: flex;

    .item {
      margin-right: 30px;

      .label {
        font-weight: 700;
        margin-bottom: 0px;
      }

      .values {
        display: flex;
        margin-top: 8px;
        margin-bottom: 12px;
        gap: 20px
      }
    }
  }
}


.tsection {
  display: flex;

  .tokens {
    flex: 0 0 30%;
  }

  .chart {
    flex: 0 0 70%;
    margin-left: 30px;
  }
}