.title {
  font-weight: 700;
}

.list {
  margin-top: 16px;
  max-width: 400px;
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-600);
  padding: 8px;
  border-bottom: 2px solid #e8eaee;
  background-color: #f6f7f8;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e8eaee;
  padding: 8px;
}

.row:nth-child(odd) {
  background-color: #f6f7f8;
}

.column {
  flex: 1;
  display: flex;
  align-self: center;
}

.column:last-child {
  align-self: flex-end;
}