*.csv
.soroban
.accounts
.bindings
node_modules

# misc
*.DS_Store
*.pem
.envrc

dist

*/build

# Rust
target



# CD
asset-deploy-out
cod-deploy-out
cod-wasm-out
dep-deploy-out


amm-deploy-out
asset-a-deploy-out
asset-b-deploy-out
invoke-log.csv

.env