$table-padding: 16px;
$table-border: var(--border-neutral-dark);
$table-border-radius: 4px;

.table {
  border: $table-border;
  border-radius: $table-border-radius;
  border-spacing: 0;

  & thead {
    & th {
      padding: $table-padding;
      border-bottom: $table-border;
    }
  }

  & tbody tr {
    &:last-of-type td {
      border: 0;
    }

    & td {
      border-bottom: $table-border;
      padding: $table-padding;
    }
  }
}

.headerCell {
  display: flex;
  align-items: center;
}

.iconOrderContainer {
  margin-left: 4px;
  cursor: pointer;
  display: flex;
}

.rotate {
  transform: rotate(180deg);
}

.active {
  color: var(--color-primary);
}
